body {
  font-family: Helvetica;
  margin: 0;
  font-size: 12px;
}

b {
  color:black;
}

c {
  color:rgb(0, 0, 0);
}

.site-header { 
  padding: .5em 1em;
  display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;
  background-color: rgb(255, 255, 255);
}